* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Cursive;
  }
  
  body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .content {
    position: relative;
    display: inline-block;
  }
  
  .gif {
    width: 150px; 
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  